.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.tanbir-gotum{
    font-size: 24px;
    font-weight: 700;
    color: #0e0e0e77;
}
.tanbir-badaimma{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
/* div */
.tanbir-jk{
    max-width: 622px;
    /* margin: 60px 16px 0 80px; */
    
}
/* .tanbir-jk,tanbir-gotum {margin: 60px 16px 0 80px; */


.tanbir{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    background-color: #C6E4D6;
    padding: 100px;
    border: none;
    border-radius: 20px;

    
    
}
.alll{
     justify-content: space-between;
}
.joni{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 18px;
    color: #0e0e0e56;
    
}
.jonii{
    font-size: 32px;
    font-weight: bold;
    color: #0e0e0edc;
}
.my{
    font-size: 16px;
   
}
.myy{
    justify-content: space-between;
    border-radius: 20px;
}

.ali{
   
}
.maa{
    display: flex;
    margin: 20px 160px 80px 160px;
     align-items: center;
     /* justify-content: space-between; */
     background-color: #FFFFFF;
     padding: 48px;
     border-radius: 20px;
}
.all{margin: 20px 160px 80px 160px;
display: flex;
 background-color: #FFFFFF;
 padding: 48px;
 gap: 32px;
 border-radius: 20px;
}
/* .alll{display: flex;} */
.jenifa{
    font-size: 18px;
    font-weight: 800;
    padding: 17px 34px;

background-color:  #006A50;;
border: none;
color: #FFFFFF;
 border-radius: 10px;
}
.newaz{
    width: 474px;
}
.je{
        list-style: none;}
   
.bu{
    font-size: 18px;
    font-weight: 700;
    color:#FFFFFF;
    padding: 13px 26px;
    background-color: #006A50;
    border-radius: 10px;

}


.naa{
    color: #006A50;
    font-size: 18px;
    font-weight:  bold;
    padding: 15px 30px;
    border: none;
     border-radius: 10px;
}

/* first nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;

}
.na{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
    


}
/* bio */
.bistry{
    display: flex;
    gap: 24px;
    
}
.bio{ margin: 20px 160px 80px 160px;
    


}
.biology{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.nahidj{
    font-size: 16px;
    color: #0e0e0e06;
}
/* 1st */
.bistry-nahid {
    font-size: 20px;
    font-weight: bold;
}
.nahi{
font-size: 16px;
}

.je26{
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    background-color: #5490F5;
    border-radius: 8px;
}
.je27{
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    background-color: #09A15C;
     border-radius: 8px;
}
.je28{
    font-size: 16px;
    color: #FFFFFF;
  padding: 11px 20px;
    background-color: #FFC239;
     border-radius: 8px;
}
.bistry-je{
    background-color: #548ff53e;
    padding: 32px ;
    border-radius: 15px;
}
.bist{
     background-color: #548ff55b;
     padding: 32px ;
     border-radius: 15px;
}
.bis{
    background-color: #F7EBCF;
    padding: 32px ;
    border-radius: 15px;
}
/* notun */
.anw{
     margin: 20px 160px 80px 160px;
     margin-top: 5px;
}

.anwe{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.all{
    /* padding: 10px; */
}
.anwer{
    font-size: 16px;
    font-weight: 500;
    color: #0e0e0e8e;

}